#PROJECT-PAGE {

    .project-title {

        h1 {
            width: 100px;
            margin: 25px auto;
            font-size: 32px;
            font-weight: 500;
            cursor: pointer;
        }
    }
    
}