#project {
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 200px;
    gap: 1rem;
    border: 1px black solid;
    border-radius: 16px;
    padding: 10px;

    .img-container {
        img {
            max-height: 200px;
            border-radius: 16px;

        }
    }

    .details-container {
        display: flex;
        flex-direction: column;

        .desc-wrapper {
            padding-top: 10px ;
        }

        .link-wrapper {
            margin-top: auto;
            display: flex;
            justify-content: space-around;
        }
        
    }
}